.user-profile {
  text-align: left;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 15px;
  }

  .sidebar-logo {
    width: 10rem;
    height: 10rem;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    overflow: hidden;
    background-color: #f0f0f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
  
  
  .sidebar-logo img {
    width: 100%;
    height: auto; 
  }

  .profile-info {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
